html, body {
    background-color: #111;
    /* box-sizing: content-box; */
    color: #ccc;
    font-family: sans-serif;
    /* padding-bottom: 30px; */
}

a {
  color: white;
  text-decoration: none;
}

#container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#header {
    padding: 2% 0;
}

#header img {
    max-width: 100%;
}

#central {
    padding: 0% 0;
    font-size: 1.3em;
}


#button {
    display:block;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 60px solid #dd0e34;
    margin: 100px auto 70px auto;
    position:relative;
    z-index:1;
    transition: all .4;
    -webkit-transition: all .4;
    -moz-transition: all .4;
    left: 10px;
}

#button:before {
    content:'';
    position:absolute;
    top: -75px;
    left:-115px;
    bottom:-75px;
    right:-35px;
    border-radius: 50%;
    border: 15px solid #dd0e34;
    z-index:2;
    transition: all .4s;
    -webkit-transition: all .4;
    -moz-transition: all .4;
    transition: transform .3s;
}

.loading:before {
    animation: pulse .5s ease-in infinite;
}

@keyframes pulse {
    0% { box-shadow: 0px 0px 0px #dd0e34; }
    50% { box-shadow: 0px 0px 55px #dd0e34; }
}

#button:after {
      content:'';
      opacity:0;
      transition: opacity .4s;
}

#button:hover:before,
#button.play:before {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}

#button.pause:after {
    content:'';
    opacity:1;
    width: 50px;
    height: 70px;
    background: #dd0e34;
    position:absolute;
    right: 1px;
    top: -35px;
    border-left:25px solid #dd0e34;
    box-shadow:inset 25px 0 0 0 #111;
}


/** VOLUME SLIDER **/

input[type=range] {
  height: 58px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 80%;
  max-width: 300px;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #dd0e34;
  border-radius: 3px;
  border: 0px solid #F27B7F;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -23px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dd0e34;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #A6A6A6;
  background: #dd0e34;
  border-radius: 3px;
  border: 0px solid #F27B7F;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  background: black;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #dd0e34;
  border: 0px solid #F27B7F;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #A6A6A6;
}
input[type=range]::-ms-fill-upper {
  background: #dd0e34;
  border: 0px solid #F27B7F;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #A6A6A6;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #A6A6A6;
  border: 2px solid #968994;
  height: 50px;
  width: 17px;
  border-radius: 2px;
  background: black;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #dd0e34;
}
input[type=range]:focus::-ms-fill-upper {
  background: #dd0e34;
}

.video-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 70%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* nav */
@font-face {
  font-family: 'khandregular';
  src: url('fonts/khand-regular-webfont.woff2') format('woff2'),
       url('fonts/khand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* nav per schermi grossi */
.menu-bar {
font-family: khandregular;
letter-spacing: 0.05em;
text-transform: uppercase;
list-style-type: none;
display: flex;
}

.logo {
  height: 30px;
  padding: 20px 30px 0 40px;
}

.logo-item:hover {
  background-color: #dd0e34;
  transition: background-color .3s;
}

.menu-item {
padding: 0 1.4rem;
line-height: 4.242rem;
}

.menu-item:hover {
  background-color: #dd0e34;
  transition: background-color .3s;
}

/* nav per mobile */
@media only screen and (max-width: 600px){
     .menu-bar {
       flex-direction: column; /* in realtà dovrebbe diventare un menù collassabile? però non lo so ancora fare */
    }
  }